@model MVC5_Online_shop.Models.ViewModels.Cart.CartVM

    <div class="ajaxcart">
        Your cart: @Model.Quantity item(s) - @Model.Price €
        <br />
        @Html.ActionLink("Checkout", "Index")
    </div>