@model MVC5_Online_shop.Models.ViewModels.Account.UserNavPertialVM

<li class="navbar-text"> <a href="/account/user-profile" style="text-decoration:none">&nbsp;&nbsp;(@Model.FirstName @Model.LastName)</a></li>